.home-button {
  padding: 10px 20px;
  background: #381892;
  color: #e41251;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  display: inline-block;
}

.home-button:hover {
  background-color: #6c2a89; /* Lighter shade for hover */
}