---
---
@import "{{ site.theme }}";

.enlarge-onhover {
    width: 800x;
    height: 400px;
    transition: transform 0.3s ease, border-radius 0.3s ease;
}

.enlarge-onhover:hover {
    border-radius: 10px;
    transform: scale(1.05);
}

img {
  border: 5px solid #555555;
}

.container {
    position: relative;
    display: inline-block;
}

.container img {
    display: block; 
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    font-size: 24px;
    background: rgba(0, 0, 0, 0.6);
    padding: 12px;
    box-sizing: border-box;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    text-align: center;
}

.container:hover .overlay {
    opacity: 1;
}