---
---
@import "{{ site.theme }}";

.enlarge-onhover {
    width: 600px;
    height: 400px;
    transition: transform 0.3s ease, border-radius 0.3s ease;
}

.enlarge-onhover:hover {
    border-radius: 10px;
    transform: scale(1.05);
}

.image-wrapper {
    display: inline-block;
    overflow: visible;
}

img {
  border: 5px solid #555555;
}