---
---
@import "{{ site.theme }}";

.enlarge-onhover {
    width: 600px;
    height: 400px;
    transition: transform 0.3s ease, border-radius 0.3s ease;
}

.enlarge-onhover:hover {
    border-radius: 10px;
    transform: scale(1.05);
}

img {
  border: 5px solid #555555;
}

.container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.container:hover .overlay {
    opacity: 1;
}